<dl>
	<dt>
		<label for="record_purpose">Calling for</label>
	</dt>
	<dd>
		<%= select("record", "purpose", [["- select -", nil],
																		["NEPSY, Mock & MRI",1],
																		["NEPSY",2],
																		["Mock & MRI",3],
																		["MRI",4],
																		["Other - please leave a note",9]]) %>

	</dd>
</dl>
